main.wrapper {
    overflow: hidden;
    background: #f3f7f9;
}
.eco-m-infoPanel {
    $root: &;
    &_wrapper {
        position: relative;
    }
    &_content {
        position: relative;
        z-index: 1;
        background: transparent url(/images/bg-info.png) no-repeat center/100% auto;
        border-radius: 10px;
        @include tablet-up {
            max-width: 855px;
            padding: 97px 480px 30px 62px;
            margin-right: auto;
            margin-left: auto;
            background-position-x: -150px;
        }
        @include tablet-down {
            padding: 20px;
            background: #364052;
        }
        &.reverse {
            @include tablet-up {
                padding: 97px 62px 30px 480px;
                background-position-x: 150px;
            }
            #{$root}_avatar {
                right: unset;
                left: 0;
            }
        }
        p {
            font-family: $font-utm;
            color: $white;
            text-align: center;
            &:nth-child(2) {
                font-size: 14px;
                text-align: justify;
                @include mobile-up {
                    margin-bottom: 38px;
                    font-size: 20px;
                }
            }
            &:nth-child(3) {
                font-size: 22px;
                text-transform: uppercase;
                @include mobile-down {
                    font-size: 18px;
                }
            }
            &:last-child {
                font-style: italic;
                @include mobile-down {
                    font-size: 12px;
                }
            }
        }
    }
    &_avatar {
        @include tablet-up {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
            max-width: 424px;
        }
        @include tablet-down {
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
    }
}
.a-text {
    font-size: 20px;
    color: #323232;
    text-align: center;
    @include mobile-down {
        font-size: 15px;
    }
    &-italic {
        font-style: italic;
    }
    &-bold {
        font-weight: 700;
    }
    &-md {
        font-size: 16px;
        @include mobile-down {
            font-size: 13px;
        }
    }
    &-uppercase {
        text-transform: uppercase;
    }
}
.eco-image {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s ease;
        object-fit: cover;
    }
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    -webkit-overflow-scrolling: auto;
}
::-webkit-scrollbar-thumb {
    background-color: #3b6098;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-track {
    background: rgba(#3b6098, 0.4);
}
.metro_wrapText {
    max-width: 660px;
    padding: 15px 0 15px;
    margin: auto;
    overflow: hidden;
    p {
        font-size: 20px;
    }
}
.metro-stressText {
    position: relative;
    padding-left: 16px;
    margin-bottom: 45px;
    font-family: $font-futura;
    text-transform: uppercase;
    @include desktop-up {
        max-width: 605px;
    }
    @include mobile-down {
        margin-bottom: 25px;
    }
    &::before {
        position: absolute;
        left: 0;
        width: 3px;
        height: 100%;
        content: '';
        background-color: #403d3c;
    }
    p {
        margin-bottom: 0;
        font-size: 40px;
        font-weight: 700;
        color: #323232;
        @include desktop-down {
            font-size: 30px;
        }
        @include mobile-down {
            font-size: 25px;
        }
        span {
            color: #fda720;
        }
    }
}
.metro-image {
    position: relative;
    &_inner {
        .img-bg {
            &::after {
                padding-top: 714/1095 * 100%;
            }
        }
    }
    &_desc {
        position: absolute;
        right: 0;
        bottom: 52px;
        left: 0;
        max-width: 754px;
        margin: auto;
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        @include mobile-down {
            bottom: 14px;
            max-width: 272px;
            font-size: 11px;
        }
    }
}
.mb-20 {
    margin-bottom: 20px;
}
.metro-imageLayout {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
    &_item {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 8px;
        padding-left: 8px;
        @include mobile-down {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .img {
            margin-bottom: 16px;
            .img-bg {
                &::after {
                    padding-top: 71.5%;
                }
            }
            &.vertical {
                .img-bg {
                    &::after {
                        padding-top: 818/560 * 100%;
                    }
                }
            }
        }
    }
}
.metro-doubleImage {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -8px;
    margin-left: -8px;
    &_item {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 8px;
        padding-left: 8px;
        @include mobile-down {
            flex: 0 0 100%;
            max-width: 100%;
        }
        margin-bottom: 16px;
        .img-bg {
            &::after {
                padding-top: 60.20548%;
            }
        }
    }
}
