footer.bd-footer.text-muted
    .wow.fadeIn(data-wow-delay="0.3s")
        +eco_image('bg-footer.png','footer')
    .f-text
        p Và tôi tin rằng mai đây, chúng ta sẽ cùng nhìn về 
            | Metropole với một niềm tự hào như thế !
// End Footer