// Normal
// @font-face {
//     font-family: 'Elle Futura';
//     src: url('#{$font-path}ElleFutura.eot?#iefix') format('embedded-opentype'), url('#{$font-path}ElleFutura.woff') format('woff'), url('#{$font-path}ElleFutura.ttf') format('truetype'), url('#{$font-path}ElleFutura.svg#ElleFutura') format('svg');
//     font-weight: 400;
//     font-style: normal;
// }
@font-face {
    font-family: 'UTM Facebook';
    src: url('#{$font-path}UTMFacebookKT.woff2') format('woff2'), url('#{$font-path}UTMFacebookKT.woff') format('woff'), url('#{$font-path}UTMFacebookKT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
