@font-face {
    font-family: 'UTM Facebook K&T';
    src: url('UTMFacebookKT.woff2') format('woff2'),
        url('UTMFacebookKT.woff') format('woff'),
        url('UTMFacebookKT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

