section.oneHome-s-banner 
    .oneHome-s-banner_background.wow.fadeIn(data-wow-duration='0.8') 
        +img-bg(imgPath+"bg-eco.png", 'background')
        .oneHome-s-banner_author 
            | Thực hiện: #[span Hoàng Yến]