-
	var hungInfo = {
			content:'Nếu bạn hỏi anh em Eco Green tự hào nhất về điều gì sau khi hoàn thành dự án, tôi có thể chắc chắn rằng đó là niềm tự hào về đội ngũ, về sự gắn kết, đồng lòng của anh em quyết tâm đưa dự án về đích thành công. Tôi cảm nhận mỗi anh em ở đây đều đã trưởng thành lên rất nhiều. Sau một năm nhìn lại, anh em chúng tôi khác xưa nhiều lắm.',
			author:'Trần hùng',
			role:'Kỹ sư công trình',
			srcImg:'avaHung.png'
		}
	var phucInfo = {
			content:'Tiến độ dự án bị kéo dài do việc nhập khẩu vật tư bị ảnh hưởng của dịch Covid 19 nhưng không vì thế mà tinh thần anh em tụt dốc. Ngay từ khi nhận dự án, anh em chúng tôi đã đặt mục tiêu phải đưa dự án về đích thành công. Đó là mục tiêu lớn nhất. Và chúng tôi đã quyết tâm đến cùng để thực hiện điều đó.',
			author:'nguyễn đình phúc',
			role:'Kỹ sư công trình',
			srcImg:'avaPhuc.png'
		}
	var phucInfo = {
			content:'Tiến độ dự án bị kéo dài do việc nhập khẩu vật tư bị ảnh hưởng của dịch Covid 19 nhưng không vì thế mà tinh thần anh em tụt dốc. Ngay từ khi nhận dự án, anh em chúng tôi đã đặt mục tiêu phải đưa dự án về đích thành công. Đó là mục tiêu lớn nhất. Và chúng tôi đã quyết tâm đến cùng để thực hiện điều đó.',
			author:'nguyễn đình phúc',
			role:'Kỹ sư công trình',
			srcImg:'avaPhuc.png'
		}
	var tienInfo = {
			content:'Ở đây, anh em được sống những ngày tháng với tinh thần trách nhiệm cao vì công việc, nhưng trên hết là tinh thần vì đồng đội. Mình phải làm tốt, không chỉ là cho bản thân, mà còn cho những người anh em đã luôn tin tưởng mình, luôn cố gắng vì dự án, vì mục tiêu chung của cả team.',
			author:'lê đình tiến',
			role:'Kỹ sư công trình',
			srcImg:'avaTien.png'
		}
	var thanhInfo = {
			content:'Khi nhận nhiệm vụ triển khai dự án này, Tổng Giám đốc đã vạch ra cho tôi những mục tiêu rõ ràng của dự án, trong đó tôi luôn nằm lòng 3 mục tiêu: Phải thay đổi cách làm việc của bản thân, quyết liệt, chỉn chu và sát việc hơn nữa; đào tạo được anh em; hoàn thành dự án với chất lượng tốt nhất.',
			author:'nguyễn ngọc thành',
			role:'Chỉ huy trưởng',
			srcImg:'avaThanh.png'
		}
	
section.metro-s-landing 
	.metro-s-landing_intro
		.container
			.metro-s-landing_intro_desc.wow.fadeInUp
				.metro_wrapText
					p.underline
							strong Thực hiện: 
							| Thu Hà
					p.strong Để hiểu về dự án này, tôi đã dành ra 02 ngày làm việc ở Metropole. 
						| Không khí sôi động tại công trường thực sự khiến tôi háo hức cho đến khi 
						| trực tiếp lên hiện trường thi công, tham gia vào các cuộc họp lúc nửa đêm, 
						| cảm nhận không khí căng thẳng của Ban Chỉ Huy khi tiến độ bàn giao đã cận kề…. 
						| tôi phần nào hiểu được những áp lực và sức “nóng” của công trường.
					+metro_stressText
						| Đích đến không ở đâu xa,
						| nó nằm trong chính
						| #[span nội lực] của chúng ta
					p Với tôi, Metropole giống như Sài Gòn thu nhỏ, càng về đêm càng sôi động, 
						| nhộn nhịp, tất bật…
					p 10h00 đêm – BCH Metropole lại bắt đầu một ca làm việc mới. 
						| Người đứng, người ngồi, người đi đi lại, 
						| một khung cảnh tất bật nhưng mọi thứ vẫn đang “chạy” theo đúng quỹ đạo vốn có.
			div.wow.fadeIn(data-wow-delay="0.5s")
				+metro_image(imgPath+'thumb1.png','','mb-20')
			div.wow.fadeIn(data-wow-delay="0.5s")
				+metro_image(imgPath+'thumb2.png',"7h sáng hôm sau công trường đã tấp nập. Anh em có mặt tại hiện trường để cập nhật tình hình thi công, hàng hóa",'mb-20')
			.metro_wrapText.wow.fadeInDown(data-wow-delay="0.5s")
				p Đội ngũ BCH được chia về phụ trách từng tháp, mỗi người một nhiệm vụ làm sao để đảm bảo vận hành, thi công lắp đặt trơn tru nhất. 
			+metro_image(imgPath+'thumb3.png',"Khi trở về văn phòng, anh em lại tiếp tục trong những cuộc họp, bản vẽ, hồ sơ giấy tờ",'mb-20')
			.metro_wrapText.wow.fadeInDown(data-wow-delay="0.5s")
				p Vào thời điểm tôi đến, Metropole đang trong giai đoạn nhiệt về tiến 
					| độ nên không tránh khỏi những căng thẳng, tinh thần anh em đôi lúc bị 
					| trùng xuống trước những áp lực lớn từ nhiều phía đổ dồn xuống cùng một lúc… 
			+metro_image_layout(imgPath+'thumb4.png',imgPath+'thumb5.png',imgPath+'thumb6.png')
			.metro_wrapText.wow.fadeInDown(data-wow-delay="0.5s")
				p Điều khiến tôi cảm nhận rõ nhất chính thái độ quyết liệt của anh em BCH, 
					| về tinh thần đoàn kết, về ý nghĩa của hai từ “đồng hành” mà 
					| tôi vẫn thường được nghe ngay từ những ngày đầu làm việc tại BM Windows.
			+metro_image_layout(imgPath+'thumb7.png',imgPath+'thumb8.png',imgPath+'thumb9.png', true)
			.metro_wrapText
					.wow.fadeInLeft(data-wow-delay="0.5s")
						+metro_stressText
							| Sẽ không ai #[span bị bỏ lại]
							| phía sau…
					.wow.fadeInDown(data-wow-delay="0.5s")
						p Vào giai đoạn cao điểm, BCH Metropole lên đến 23 người. Đó sự bổ sung và sắp xếp nguồn lực rất kịp thời của công ty khi dự án bước vào thời điểm gấp và nhiệt nhất. Nhưng không chỉ dừng lại ở 23 thành viên trực tiếp tham gia vào dự án, ở Metropole còn là sự đồng hành của Ban Giám đốc, các thành viên khối Kỹ thuật và lực lượng thi công cũng như của nhà máy và các phòng ban… Khó khăn vì thế mà từng bước, từng bước được cùng nhau tháo gỡ.
		.metro-doubleImage 
			.metro-doubleImage_item.wow.fadeInRight(data-wow-delay="0.5s")
				+metro_image(imgPath+'thumb10.png','','mb-20')
			.metro-doubleImage_item.wow.fadeInLeft(data-wow-delay="0.5s")
					+metro_image(imgPath+'thumb11.png','','mb-20')
		.container 
			.metro_wrapText.wow.fadeInDown(data-wow-delay="0.5s")
				p Tại Metropole cũng giúp tôi hiểu được, chúng ta không chờ đợi mọi thứ trở nên 
					| dễ dàng hơn mà hãy trở nên mạnh mẽ hơn. 
					| Đó là cách BCH Metropole đã chọn để đối diện với những khó khăn của dự án. 
					| Metropole được đánh giá là rất khó về kỹ thuật, chất lượng và cũng như tiến độ.
					| Anh em BCH vì thế mà càng nỗ lực nhiều hơn. Và chính con đường, quá trình chinh phục dự án
					|  đã là thành quả đáng quý cho mỗi thành viên trong BCH.
			.wow.fadeInUp(data-wow-delay="0.5s")
				+metro_image(imgPath+'thumb12.png','','mb-20')
			.metro_wrapText.wow.fadeInDown(data-wow-delay="0.5s")
				p Đến nay, BCH Metropole đang trong những bước cuối cùng để hoàn thiện dự án. 
					| Cùng anh em bước lên tầng cao nhất ngắm nhìn trung tâm thành phố về đêm, 
					| nơi có nhưng ô cửa sáng lấp lánh trên những tòa nhà cao tầng, 
					| chúng tôi chỉ tay về hướng những dự án BM Windows đã thi công, 
					| một niềm vui xen lẫn tự hào khó tả. Và tôi tin rằng mai đây, 
					| chúng ta sẽ cùng nhìn về Metropole với một niềm tự hào như thế!